# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Shootfinity PC.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\MY PROGRAMMING PROJECTS\UNITY\2021\Shooting Game in Cardboard [4experience test]\Shooting-in-Cardboard\Shootfinity PC\.idea\.idea.Shootfinity PC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
